.footer-container {
    background-color: black;
    min-height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    text-align: center;
    font-size: 18px;
    line-height: 2;

    color:white;

    opacity: 0.5;
}